<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HalloPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24766B2A1E8FA2D1003649D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24766B411E8FA2D2003649D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24766B4C1E8FA2D2003649D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
